{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header text-center">
        <h4><i class="fa fa-lock"></i> Set Your New Password</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success w-100 mt-3">Update Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
