{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header text-center">
        <h4><i class="fa fa-key"></i> Forgot Your Password?</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.email.label_tag }}
          {{ form.email }}
          <button type="submit" class="btn btn-primary w-100 mt-3">Send Reset Link</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
